*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma,Vazirmatn,sans-serif;
}

body{
    background:#f5f6fa;
    direction:rtl;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    cursor:pointer;
}

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:22px;
    font-weight:bold;
    color:#1f2937;
}

.logo img{
    width:48px;
    height:48px;
    object-fit:contain;
}