{% extends "base.html" %}

{% block title %}
گالری خودرو
{% endblock %}

{% block content %}

<h1>🚗 داشبورد گالری خودرو</h1>

<p style="margin-bottom:25px;">
به سامانه مدیریت گالری خودرو خوش آمدید.
</p>

<div class="stats">

    <div class="stat-card">
        <h2>{{ total_cars }}</h2>
        <p>کل خودروها</p>
    </div>

    <div class="stat-card">
        <h2>{{ total_users }}</h2>
        <p>کل کاربران</p>
    </div>

    <div class="stat-card">
        <h2>{{ available_cars }}</h2>
        <p>خودروهای موجود</p>
    </div>

    <div class="stat-card">
        <h2>{{ sold_cars }}</h2>
        <p>خودروهای فروخته شده</p>
    </div>

    <div class="stat-card">
        <h2>{{ brands }}</h2>
        <p>تعداد برندها</p>
    </div>

</div>

<br>

<div class="card">

<h2>💰 ارزان‌ترین خودرو</h2>

{% if cheapest %}

<table>

<tr>
<th>برند</th>
<td>{{ cheapest.brand }}</td>
</tr>

<tr>
<th>مدل</th>
<td>{{ cheapest.model }}</td>
</tr>

<tr>
<th>قیمت</th>
<td>{{ "{:,}".format(cheapest.price) }} تومان</td>
</tr>

</table>

{% else %}

<p>خودرویی ثبت نشده است.</p>

{% endif %}

</div>

<div class="card">

<h2>💎 گران‌ترین خودرو</h2>

{% if expensive %}

<table>

<tr>
<th>برند</th>
<td>{{ expensive.brand }}</td>
</tr>

<tr>
<th>مدل</th>
<td>{{ expensive.model }}</td>
</tr>

<tr>
<th>قیمت</th>
<td>{{ "{:,}".format(expensive.price) }} تومان</td>
</tr>

</table>

{% else %}

<p>خودرویی ثبت نشده است.</p>

{% endif %}

</div>

{% endblock %}